{% extends 'base.html.twig' %}

{% block body %}

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">View a lasting power of attorney</a>
            </li>
        </ol>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
{#            <p>{{ pageone }}</p>#}
{#            <br>#}
{#            <p>{{ pagetwo }}</p>#}
{#            <br>#}
{#            <p>{{ pagethree }}</p>#}

            <p>{{ text }}</p>
            <p>{{ subtype }}</p>
            <p>{{ bond }}</p>
        </div>
    </main>

{% endblock %}
